In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
continent_country_df = pd.read_csv('./billionaires.csv')
continent_country_df = continent_country_df[['country_of_residence', 'continent']].drop_duplicates()
continent_country_df.reset_index(drop=True, inplace=True)
# continent_country_df = continent_country_df.set_index('country_of_residence')

data = pd.read_csv('./billionaires2.csv')
data.rename(
    columns={ 'country': 'country_of_residence' },
    inplace=True
)

# exclude_element = list(set(data['country_of_residence'].unique()) - set(continent_country_df['country_of_residence'].unique()))
# print(exclude_element) #nan is the exclude of 2 list
# print(data.info())
# print(data.isnull().sum())

# get the row that country_of residence is null, most is not too rich, so we can remove them, or we can use their countryOfCitizenship
# since 38 row is a large number in comparision to 2480 row
null_mask = data.isnull()['country_of_residence']
# null_rows = data[null_mask]
# print(null_mask)
# print(null_rows)
# print(data[null_mask])

index_null_row = np.where(null_mask == True)
data['country_of_residence'].iloc[index_null_row] = data['countryOfCitizenship'].iloc[index_null_row]
data.iloc[index_null_row] #iloc only accept number, do not give the column name next, but the number of that column
# data = data.merge(continent_country_df, on='country_of_residence', how='left')
# # data = data.dropna()
# data.isnull().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_11948\2868116755.py:29: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['country_of_residence'].iloc[index_null_row] = data['countryOfCitizenship'].iloc[index_null_row]
C:\Users\Admin\AppData\Local\Temp\ipykernel_11948\2868116755.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['country_of_residence'].iloc[index_null_row] = data['countryOfCitizenship'].iloc[index_null_row]

,rank,finalWorth,category,personName,age,country_of_residence,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
108,108,15800,Fashion & Retail,Beate Heister,NaN,Germany,NaN,Supermarkets,Fashion & Retail,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,418,6100,Telecom,Sunil Mittal,65.0,India,NaN,Telecom,Telecom,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,636,4300,Real Estate,Ian Livingstone,60.0,United Kingdom,NaN,Real estate,Real Estate,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,636,4300,Real Estate,Richard Livingstone,58.0,United Kingdom,NaN,Real estate,Real Estate,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,905,3200,Food & Beverage,Karen Virginia Beckmann Legoretta,53.0,Mexico,NaN,Tequila,Food & Beverage,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,982,3000,Automotive,Catheline Perier D'Ieteren,78.0,Belgium,NaN,"Auto parts, distribution",Automotive,Belgium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141,1104,2700,Food & Beverage,Timm Oberwelland,NaN,Germany,NaN,Candy,Food & Beverage,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,1104,2700,Metals & Mining,Gianfelice Rocca,75.0,Italy,NaN,Pipe Manufacturing,Metals & Mining,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,1104,2700,Metals & Mining,Paolo Rocca,70.0,Italy,NaN,Pipe Manufacturing,Metals & Mining,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,1104,2700,Media & Entertainment,Christiane Schoeller,NaN,Germany,NaN,Publishing,Media & Entertainment,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212,1164,2600,Construction & Engineering,Jurgen Wirtgen,57.0,Germany,NaN,Construction Vehicles,Construction & Engineering,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,1164,2600,Construction & Engineering,Stefan Wirtgen,52.0,Germany,NaN,Construction Vehicles,Construction & Engineering,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,1312,2300,Finance & Investments,Samuel Chen,73.0,Taiwan,NaN,Investments,Finance & Investments,Taiwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,1312,2300,Fashion & Retail,Kevin David Lehmann,20.0,Germany,NaN,Drugstores,Fashion & Retail,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,1434,2100,Construction & Engineering,Olivier Bouygues,72.0,France,NaN,"Construction, media",Construction & Engineering,France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,1516,2000,Manufacturing,Michal Strnad,30.0,Czech Republic,NaN,Defense Contracting,Manufacturing,Czech Republic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,1516,2000,Fashion & Retail,Ales Zavoral,46.0,Czech Republic,NaN,E-commerce,Fashion & Retail,Czech Republic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,1575,1900,Fashion & Retail,Stephen Butt & family,67.0,United States,NaN,Supermarkets,Fashion & Retail,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1691,1647,1800,Food & Beverage,Maike Oberwelland-Height,NaN,Germany,NaN,Candy,Food & Beverage,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,1725,1700,Media & Entertainment,Kim Jung-min,21.0,South Korea,NaN,Online gaming,Media & Entertainment,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,1725,1700,Media & Entertainment,Kim Jung-youn,19.0,South Korea,NaN,Online gaming,Media & Entertainment,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,1804,1600,Fashion & Retail,Alex Birkenstock,54.0,Germany,NaN,Shoes,Fashion & Retail,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1842,1804,1600,Media & Entertainment,Kim Jae-young,NaN,South Korea,NaN,Online games,Media & Entertainment,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,1905,1500,Finance & Investments,Anne Marie See Pastor,NaN,Peru,NaN,Finance,Finance & Investments,Peru,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,1905,1500,Finance & Investments,George Pastor,NaN,Peru,NaN,Finance,Finance & Investments,Peru,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2173,2133,1300,Finance & Investments,Lillyn Teh Li Hua,NaN,Malaysia,NaN,Finance,Finance & Investments,Malaysia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,2133,1300,Finance & Investments,Lillian Teh Li Ming,NaN,Malaysia,NaN,Banking,Finance & Investments,Malaysia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,2133,1300,Finance & Investments,William Teh Lee Pang,NaN,Malaysia,NaN,Banking,Finance & Investments,Malaysia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2133,1300,Manufacturing,Stephan Schnabel,48.0,Germany,NaN,Chemicals,Manufacturing,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,2133,1300,Finance & Investments,Diana Teh Li Shing,NaN,Malaysia,NaN,Banking,Finance & Investments,Malaysia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2333,2259,1200,Automotive,Ulrich Mommert & family,82.0,Austria,NaN,Lighting,Automotive,Austria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2336,2259,1200,Manufacturing,Kailashchandra Nuwal,65.0,India,NaN,Industrial explosives,Manufacturing,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2406,2405,1100,Healthcare,Prem Kumar Arora,84.0,India,NaN,Pharmaceuticals,Healthcare,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2429,2405,1100,Technology,Cho Jyh-jer,NaN,Taiwan,NaN,Semiconductors,Technology,Taiwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2530,2405,1100,Manufacturing,Yeh Kuo-I,81.0,Taiwan,NaN,Manufacturing,Manufacturing,Taiwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2607,2540,1000,Finance & Investments,Stanley Motta,77.0,Panama,NaN,Finance,Finance & Investments,Panama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2626,2540,1000,Logistics,Masaru Wasami,77.0,Japan,NaN,Logistics,Logistics,Japan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,2540,1000,Manufacturing,Franziska Wuerbser,35.0,Germany,NaN,Kitchen appliances,Manufacturing,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Äáº·c Ä‘iá»ƒm táº­p dá»¯ liá»‡u
- Má»™t sá»‘ cá»™t category cá»§a táº­p dá»¯ liá»‡u nÃ y cÃ³ quÃ¡ nhiá»u giÃ¡ trá»‹ => pháº£i gom láº¡i thÃ nh other khi univariate category column
- Cá»™t wealth phÃ¢n phá»‘i lá»‡ch pháº£i quÃ¡ máº¡nh => khÃ´ng biáº¿t cÃ³ phÃ¹ há»£p khi dÃ¹ng anova hay khÃ´ng, hay t-test thÃ¬ cho ra káº¿t quáº£ ntn?
- Táº­p dá»¯ liá»‡u cÃ³ 2640 dÃ²ng
- TÃ¡ch riÃªng bÃ i toÃ¡n tÃ¬m hiá»ƒu demography cá»§a cÃ¡c tá»· phÃº vá»›i tÃ­nh hÃ¬nh kÃ¬nh táº¿ cá»§a quá»‘c gia cá»§a há»

#### Data dictionary

- rank: The ranking of the billionaire in terms of wealth.
- finalWorth: The final net worth of the billionaire in U.S. dollars.
- category: The category or industry in which the billionaire's business operates.
- personName: The full name of the billionaire.
- age: The age of the billionaire.
- country: The country in which the billionaire resides.
- city: The city in which the billionaire resides.
- source: The source of the billionaire's wealth.
- industries: The industries associated with the billionaire's business interests.
- countryOfCitizenship: The country of citizenship of the billionaire.
- organization: The name of the organization or company associated with the billionaire.
- selfMade: Indicates whether the billionaire is self-made (True/False).
- status: "D" represents self-made billionaires (Founders/Entrepreneurs) and "U" indicates inherited or unearned wealth.
- gender: The gender of the billionaire.
- birthDate: The birthdate of the billionaire.
- lastName: The last name of the billionaire.
- firstName: The first name of the billionaire.
- title: The title or honorific of the billionaire.
- date: The date of data collection.
- state: The state in which the billionaire resides.
- residenceStateRegion: The region or state of residence of the billionaire.
- birthYear: The birth year of the billionaire.
- birthMonth: The birth month of the billionaire.
- birthDay: The birth day of the billionaire.
- cpi_country: Consumer Price Index (CPI) for the billionaire's country.
- cpi_change_country: CPI change for the billionaire's country.
- gdp_country: Gross Domestic Product (GDP) for the billionaire's country.
- gross_tertiary_education_enrollment: Enrollment in tertiary education in the billionaire's country.
- gross_primary_education_enrollment_country: Enrollment in primary education in the billionaire's country.
- life_expectancy_country: Life expectancy in the billionaire's country.
- tax_revenue_country_country: Tax revenue in the billionaire's country.
- total_tax_rate_country: Total tax rate in the billionaire's country.
- population_country: Population of the billionaire's country.
- latitude_country: Latitude coordinate of the billionaire's country.
- longitude_country: Longitude coordinate of the billionaire's country.
<br><br>

- **Wealth distribution analysis: Explore the distribution of billionaires' wealth across different industries, countries, and regions.**
- **Demographic analysis: Investigate the age, gender, and birthplace demographics of billionaires.**
- Self-made vs. inherited wealth: Analyze the proportion of self-made billionaires and those who inherited their wealth.
- Economic indicators: Study correlations between billionaire wealth and economic indicators such as GDP, CPI, and tax rates.
- Geospatial analysis: Visualize the geographical distribution of billionaires and their wealth on a map. (similar to first one)
- Trends over time: Track changes in billionaire demographics and wealth over the years. (no data)

#### Preprocessing

In [ ]:
data.rename({
    'Name': 'name',
    'Age': 'age',
    'finalWorth': 'net_worth',
    'personName': 'full_name',
    'country': 'country_of_residence',
    'city': 'city_of_residence',
    'countryOfCitizenship': 'citizenship',
    'selfMade': 'self_made',    
}, inplace=True, axis=1)
#data.info()
data.head()

In [ ]:
data.isnull().sum()

In [ ]:
# remove life_expectancy_country & population_country because it is not related to our problem trying to solve here
cols_keeping = [
    'rank', 'full_name', 'age',  'gender', 'net_worth', 'industries',  
    'city_of_residence', 'country_of_residence', 'continent', 'organization', 'self_made']

data['self_made'] = data['self_made'].map({True: 'self-made', False: 'inherited'})
#how to have continent
data = data[cols_keeping]
data.head()

#### Define functions

In [ ]:
class PlotType(enumerate):
    HIST = 'hist'
    PIE = 'pie'
    BAR = 'bar'

def cat_univariate_analysis(data:pd.DataFrame, fig_size=(10, 5), exclude_cols=[], num_cols=3, plot_type=PlotType.HIST):
    i = 0
    category_cols = [col for col in data.columns if data[col].dtype == 'object']
    num_rows = len(category_cols) // num_cols + 1
    fig = plt.figure(figsize=fig_size)
    for col in category_cols:
        if col in exclude_cols:
            continue
        i += 1
        fig.add_subplot(num_rows, num_cols, i)
        if plot_type == PlotType.HIST:
            sns.histplot(data[col])
        elif plot_type == PlotType.PIE:
            plt.pie(data[col].value_counts(), labels=data[col].value_counts().index, autopct='%1.1f%%')
        elif plot_type == PlotType.BAR:
            sns.barplot(x=data[col].value_counts().index, y=data[col].value_counts())
        plt.xticks(rotation=90)
        plt.title(col)
    plt.tight_layout()
    plt.show()

In [ ]:
from scipy.stats import chi2_contingency, chi2
def plot_crosstab_and_show_dependency(df, col1, col2):
    crosstab = pd.crosstab(df[col1], df[col2])
    crosstab.plot(kind='bar', stacked=True, figsize=(5, 5))
    plt.title(f'{col1} vs {col2}')
    plt.show()

    stat, p, dof, expected =chi2_contingency(crosstab)
    print(f'p-value: {p}')
    print(f'dof: {dof}')

    prob = 0.975
    critical = chi2.ppf(prob, dof)
    print(f'probability: {prob}, critical: {critical}, stat: {stat}')

    alpha = 1 - prob
    print(f'alpha (significant): {alpha}, p-value: {p}')
    if p <= alpha:
        print(f'{col1} dependent {col2} (reject H0)')
    else:
        print(f'{col1} independent {col2}(fail to reject H0)')

In [ ]:
def num_univariate_analysis(data, col: str):
    #Descriptive statistics
    print(data[col].describe(include='all'))
    col_median = data[col].median()
    col_mode = data[col].mode().iloc[0]
    col_range = data[col].max() - data[col].min()
    col_variance = data[col].var()
    col_skew = data[col].skew()
    col_kurt = data[col].kurt()

    print(f"Median {col_median}")
    print(f"Mode {col_mode}")
    print(f"Range {col_range}")
    print(f"Var {col_variance}")
    print("****************************************************")

    # Histogram
    plt.figure(figsize=(8, 5))
    plt.subplot(1, 3, 1)
    sns.histplot(data[col], kde=True)
    plt.subplot(1, 3, 2)
    plt.hist(data[col])
    plt.subplot(1, 3, 3)
    plt.pie(data[col].value_counts(), labels=data[col].value_counts().index, autopct='%1.1f%%')
    plt.show()
    print(f"Skew {col_skew}")
    print(f"Kurt {col_kurt}")
    if col_skew > 0:
        print("PhÃ¢n phá»‘i lá»‡ch pháº£i")
    else:
        print("PhÃ¢n phá»‘i lá»‡ch trÃ¡i")
    
    if col_kurt > 0:
        print("PhÃ¢n phá»‘i nhá»n hÆ¡n phÃ¢n phá»‘i chuáº©n")
    else:
        print("PhÃ¢n phá»‘i cÃ³ Ä‘á»™ nhá»n tháº¥p hÆ¡n phÃ¢n phá»‘i chuáº©n")
    print("****************************************************")

    col_Q1 = data[col].quantile(0.25)
    col_Q3 = data[col].quantile(0.75)
    col_IQR = col_Q3 - col_Q1
    print(f"Q1 - Q3: {col_Q1} - {col_Q3}")
    print(f"IQR {col_IQR}")

    # Boxplot, Outliers
    plt.figure(figsize=(2,2))
    plt.boxplot(data[col])
    plt.show()
    col_outliers_upper_num = data[data[col] > (col_Q3 + 1.5*col_IQR)].shape[0]
    col_outliers_lower_num = data[data[col] < (col_Q1 - 1.5*col_IQR)].shape[0]
    col_outliers_per = (col_outliers_upper_num + col_outliers_lower_num)/data.shape[0] * 100
    print(f"Number of outliers: {col_outliers_upper_num + col_outliers_lower_num}")
    print(f'Upper outliers: {(col_Q3 + 1.5*col_IQR)}')
    print(f'Lower outliers: {(col_Q1 - 1.5*col_IQR)}')
    print(f"Number of upper outliers: {col_outliers_upper_num}")
    print(f"Number of lower outliers: {col_outliers_lower_num}")
    print(f"Percentage of outliers: {col_outliers_per}%")
    # vÃ¬ outlier cÃ³ tá»‰ lá»‡ nhá» (<1%) nÃªn cÃ³ thá»ƒ khÃ´ng cáº§n loáº¡i bá» outlier

#### EDA

In [ ]:
category_cols = [col for col in data.columns if data[col].dtype == 'object']
for col in category_cols:
    if col not in ['full_name', 'city_of_residence', 'organization']:
        print(f'{col} have {data[col].nunique()} unique values: {data[col].unique()}')

In [ ]:
data.info()

#### Number Univariate Analysis

In [ ]:
# num_univariate_analysis(data, 'net_worth')
# num_univariate_analysis(data, 'age')

Lá»c ngoáº¡i láº¡i => net worth váº«n lá»‡ch pháº£i máº¡nh, nhÆ° trÆ°á»›c khi lá»c ngoáº¡i lai => ká»ƒ cáº£ trong danh sÃ¡ch nhá»¯ng ngÆ°á»i siÃªu giÃ u, luÃ´n chá»‰ cÃ³ má»™t sá»‘ nhá» ngÆ°á»i siÃªu siÃªu giÃ u

In [ ]:
#remove outlier
q3 = data['net_worth'].quantile(0.75)
iqr = data['net_worth'].quantile(0.75) - data['net_worth'].quantile(0.25)
upper_bound = q3 + 1.5*iqr
print(upper_bound)
no_outliers = data[data['net_worth'] < upper_bound]
num_univariate_analysis(no_outliers, 'net_worth')

Sá»‘ lÆ°á»£ng ngoáº¡i lai chiÃªm 10% => vÃ  khi lá»c ngoáº¡i lai xong thÃ¬ phÃ¢n phá»‘i cÅ©ng khÃ´ng Ä‘á»•i nhiá»u => ta khÃ´ng nÃªn lá»c ngoáº¡i lai trá»« khi nÃ³ liÃªn qua tá»›i viá»‡c phÃ¢n tÃ­ch

#### Category Univariate Analysis
- NgoÃ i others chiáº¿m 17.8%
- Äáº§u tá»« kinh doanh chiáº¿m 14.1%
- Sáº£n xuáº¥t chiáº¿m 12.3%
- CÃ´ng nghá»‡ chiÃªm 12%
- Thá»i trang vÃ  bÃ¡n láº» chiáº¿m 10% (dá»‹ch vá»¥)
- Thá»±c pháº©m vÃ  Äƒn uá»‘ng chiáº¿m 8% (dá»‹ch vá»¥ nhÃ  hÃ ng khÃ¡ch sáº¡n)
- Äa ngÃ nh chiáº¿m 7.3% 
- Báº¥t Ä‘á»™ng sáº£n chiáº¿m 7.1%

- Tá»· phÃº nam chiáº¿m 87.2%, tá»· phÃº ná»¯ chiáº¿m 12.8%, 69% lÃ  self-made, 31% lÃ  inherit
- Sá»‘ tá»· phÃº á»Ÿ ChÃ¢u Ã 41%, Báº¯c Má»¹ 31%, 23% lÃ  ChÃ¢u Ã‚u
- Tá»•ng giÃ¡ trá»‹ Ä‘Ã³ng gÃ³p á»Ÿ ChÃ¢u Ã 32%, Báº¯c Má»¹ 41%, 24% lÃ  ChÃ¢u Ã‚u

In [ ]:
category_cols = [col for col in data.columns if data[col].dtype == 'object']
for col in category_cols:
    if col not in ['full_name', 'city_of_residence', 'organization']:
        print(f'{col} have {data[col].nunique()} unique values: {data[col].unique()}')

In [ ]:
# top 8 industry and others databuff
data_buff = data.groupby('industries').size().reset_index()
data_buff.columns = ['industries', 'count']
data_buff = data_buff.sort_values(by='count', ascending=False)
data_buff['percentage'] = data_buff['count']/data_buff['count'].sum() * 100
print(data_buff.tail(9))

# convert the the industry with less than 100 people to 'Others'
data_buff.loc[data_buff['count'] < 100, 'industries'] = 'Others'
data_buff = data_buff.groupby('industries').sum().reset_index()

plt.pie(data_buff['count'], labels=data_buff['industries'], autopct='%1.1f%%')
plt.show()

In [ ]:
# top 8 industry and others databuff
data_buff = data.groupby('country_of_residence').size().reset_index()
data_buff.columns = ['country_of_residence', 'count']
data_buff = data_buff.sort_values(by='count', ascending=False)
data_buff['percentage'] = data_buff['count']/data_buff['count'].sum() * 100

print(data_buff.head(9))
print('********************************************')
print("After convert to others")
# convert the the industry with less than 55 people to 'Others'
data_buff.loc[data_buff['count'] < 55, 'country_of_residence'] = 'Others'
data_buff = data_buff.groupby('country_of_residence').sum().reset_index()
print(data_buff)
plt.pie(data_buff['count'], labels=data_buff['country_of_residence'], autopct='%1.1f%%')
plt.show()

In [ ]:
# top 8 industry and others databuff
data_buff = data.groupby('continent')['net_worth'].sum().reset_index()
data_buff.columns = ['continent', 'sum_net_worth']
data_buff = data_buff.sort_values(by='sum_net_worth', ascending=False)
plt.pie(data_buff['sum_net_worth'], labels=data_buff['continent'], autopct='%1.1f%%')
data_buff['percentage'] = data_buff['sum_net_worth']/data_buff['sum_net_worth'].sum() * 100
data_buff

In [ ]:
cat_univariate_analysis(data, exclude_cols=['full_name', 'city_of_residence', 'organization', 'country_of_residence', 'industries'], num_cols=3, plot_type=PlotType.PIE)

#### Number Multivariate Analysis

In [ ]:
# data.info()

#### Category Multivariate Analysis
<pre>
NhÆ°ng tá»‰ lá»‡ self made billionaire thay Ä‘á»•i tÃ¹y quá»‘c gia, tÃ¹y lÄ©nh vá»±c
ÄÃ¢y lÃ  nhá»¯ng ngÃ nh mÃ  tá»‰ lá»‡ inherit cao (cÃ¡c ngÃ nh dá»‹ch vá»¥, thá»i trang, xÃ¢y dá»±ng)
Diversified                       104         83             55.614973
Construction & Engineering         22         23             48.888889
Food & Beverage                   103        109             48.584906
Automotive                         34         39             46.575342
Service                            23         30             43.396226
Fashion & Retail                  107        159             40.225564
Sports                             14         25             35.897436
</pre>

á»ž nam má»¹, chÃ¢u Phi, chÃ¢u Ã¢u, tá»‰ trá»ng tá»· phÃº khÃ´ng tá»± thÃ¢n hay COCC ráº¥t cao

In [ ]:
#pivot table to count number of male, female billionaires on industries
pivot_count_industry_gender = data.pivot_table(index='industries', columns='gender', values='full_name', aggfunc='count')
pivot_count_industry_gender_with_percentage = pivot_count_industry_gender.copy()
# we can only do this because the number of values of gender column is not much
pivot_count_industry_gender_with_percentage['percentage_F'] = pivot_count_industry_gender_with_percentage['F'] / (pivot_count_industry_gender_with_percentage['F'] + pivot_count_industry_gender_with_percentage['M']) * 100
print(pivot_count_industry_gender_with_percentage.sort_values(by='percentage_F', ascending=False))
pivot_count_industry_gender.plot(kind='bar', stacked=True)

In [ ]:
plot_crosstab_and_show_dependency(data, 'industries','gender')

In [ ]:
pivot_count_industry_self_made = data.pivot_table(index='industries', columns='self_made', values='full_name', aggfunc='count').sort_values(by='self-made', ascending=False)
pivot_count_industry_self_made_with_percentage = pivot_count_industry_self_made.copy()
pivot_count_industry_self_made_with_percentage['percentage_inherited'] = pivot_count_industry_self_made['inherited'] / (pivot_count_industry_self_made['self-made']  + pivot_count_industry_self_made['inherited']) * 100 #if inherited < self-made then p < 100
print(pivot_count_industry_self_made_with_percentage.sort_values(by='percentage_inherited', ascending=False))

pivot_count_industry_self_made.plot(kind='bar', stacked=True)

In [ ]:
plot_crosstab_and_show_dependency(data, 'industries','self_made')

In [ ]:
plot_crosstab_and_show_dependency(data, 'continent', 'self_made')

In [ ]:
plot_crosstab_and_show_dependency(data, 'continent', 'gender')

#### Percentage of networth the elite contribute to total
- 10 ngÆ°á»i giÃ u nháº¥t chiáº¿m 10% tá»•ng cá»§a 2640 tá»· phÃº Ä‘Æ°á»£c ghi nháº­n
- 9.39% ngÆ°á»i giÃ u nháº¥t chiáº¿m 46.5% tá»•ng giÃ¡ trá»‹ cá»§a cáº£i cá»§a cÃ¡c vá»‹ tá»· phÃº

In [ ]:
elite = data[data['rank'] <= 10]
elite_net_worth = elite['net_worth'].sum()
p_elite_net_worth = elite_net_worth / data['net_worth'].sum() * 100
print(f'Elite net worth: {elite_net_worth} & percentage: {p_elite_net_worth}')

In [ ]:
outliers = data[data['net_worth'] > upper_bound]
outliers_net_worth = outliers['net_worth'].sum()
count_outliers = outliers.shape[0]
p_outliers_net_worth = outliers_net_worth / data['net_worth'].sum() * 100
p_outliers_count = count_outliers / data.shape[0] * 100
print(f'Outliers net worth: {outliers_net_worth} & percentage: {p_outliers_net_worth}')
print(f'Outliers count: {count_outliers} & percentage: {p_outliers_count}')

#### Which industry have most billionaires
- Finance & Inverstments
- Manufaturing
- Technology
- Fashion & Retail
- Food & Beverage
- Healthcare
- Real Estate
- Diversified
- Energy
- Media & Entertainment

Khi lá»c ngoáº¡i láº¡i (nhá»¯ng ngÆ°á»i siÃªu giÃ u trong sá»‘ cÃ¡c tá»· phÃº), thá»© tá»± sá»‘ lÆ°á»£ng billionaires cÃ¡c ngÃ nh váº«n khÃ´ng Ä‘á»•i

In [ ]:
# top 10 industry sorted by number of billionaires
data['industries'].value_counts().head(10).plot(kind='bar')

In [ ]:
data['industries'].hist(bins=50)
no_outliers['industries'].hist(bins=50)
plt.xticks(rotation=90)
plt.show()

#### Top 10 industries gather most wealth
- Technology               1877900
- Fashion & Retail         1698800
- Finance & Investments    1605100
- Manufacturing            1019000
- Food & Beverage           957200
- Diversified               905200
- Real Estate               657400
- Healthcare                643200
- Automotive                525300
- Energy                    453500

In [ ]:
where = data.groupby('industries')['net_worth'].sum().sort_values(ascending=False).head(10)
where.plot(kind='bar')
where.head(10)

#### Median ,mode age of billionaires from each industry
- Tuá»•i cá»§a cÃ¡c tá»· phÃº thÆ°á»ng lÃ  tá»« 68 - 71, riÃªng khá»‘i ngÃ nh vá» cÃ´ng nghá»‡, sáº£n xuáº¥t ,xÃ¢y dá»±ng, khai khoÃ¡ng, tuá»•i trung bÃ¬nh lÃ  tá»« 57 - 64
- Má»™t vÃ i quá»‘c gia nam my, há» lÃ  tá»· phÃº khi tuá»•i khÃ¡ cao 87 - 90
- Viá»‡t nam, trung quá»‘c, Uc cÃ³ tá»· phÃº tá»« khoáº£ng 56.6 - 59 tuá»•i

In [ ]:
where = data.groupby('industries')['age'].agg(['mean', 'median']).sort_values(by='mean', ascending=False)
where.plot(kind='bar')
where

In [ ]:
where = data.groupby('country_of_residence')['age'].agg(['mean', 'median']).sort_values(by='mean', ascending=False).tail(12)
where.plot(kind='bar')
where.tail(12)

#### Top 10 country have most billionaires
- United States	754
- China	515
- India	157
- Germany	102
- United Kingdom	82
- Russia	79
- Switzerland	78
- Hong Kong	67
- Italy	55
- Singapore	45

In [ ]:
where = data.groupby('country_of_residence')['rank'].agg(['count']).sort_values(by='count', ascending=False).head(10)
where.plot(kind='bar', figsize=(4, 2))
where.head(10)

#### Top 10 country gather most wealth
- United States	4575100
- China	1805500
- India	628700
- France	499500
- Germany	462100
- Switzerland	409900
- United Kingdom	370700
- Russia	351000
- Hong Kong	321500
- Canada	173900

Top 5 cÃ³ sá»± thay Ä‘á»•i, nhÆ°ng ta tháº¥y quá»‘c gia cÃ ng cÃ³ nhiá»u tá»· phÃº thÃ¬ cÅ©ng cÃ³ nhiá»u wealth hÆ¡n

In [ ]:
where = data.groupby('country_of_residence')['net_worth'].agg(['sum']).sort_values(by='sum', ascending=False).head(10)
where.plot(kind='bar', figsize=(4, 2))
where.head(10)

#### For India

top 3 industry have richest billionaires

In [ ]:
where = data[data['country_of_residence'] == 'India'].groupby('industries')['net_worth'].agg(['max']).sort_values(by='max', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)

top 3 industry have most millionaires

In [ ]:
where = data[data['country_of_residence'] == 'India'].groupby('industries')['rank'].agg(['count']).sort_values(by='count', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)

#### For China

top 3 industry have richest billionaires

In [ ]:
where = data[data['country_of_residence'] == 'China'].groupby('industries')['net_worth'].agg(['max']).sort_values(by='max', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)

top 3 industry have most millionaires

In [ ]:
where = data[data['country_of_residence'] == 'China'].groupby('industries')['rank'].agg(['count']).sort_values(by='count', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)

#### For United States

top 3 industry have richest billionaires

In [ ]:
where = data[data['country_of_residence'] == 'United States'].groupby('industries')['net_worth'].agg(['max']).sort_values(by='max', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)

top 3 industry have most millionaires

In [ ]:
where = data[data['country_of_residence'] == 'United States'].groupby('industries')['rank'].agg(['count']).sort_values(by='count', ascending=False).head(3)
where.plot(kind='bar', figsize=(4, 2))
where.head(3)